

h1, h2 {
    text-align: center;
    padding-bottom: 10px;
    
    text-transform: uppercase;
}

.card {
    border-radius: 1em;
    text-align: center;
    padding: 1em;
  }

  .card:hover {
    background-color: rgba(0, 0, 0, 0.1);

  }

  .card img {
    border-radius: 50%;
    width: 80%;
    margin: auto;
    
  }

  ul li {
      color: aliceblue;
      justify-content: space-around;
      height: 100%;
  }

  .ingredients-h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 25px;

  }

.img-ingredients {
  text-align: center;
}
  
.ingredients {
  text-align: center;
}

.em {
  font-size: 20px;
  text-align: justify;
  font-style: italic;
  
}

.table-kkal {
  text-align: left;
  border: 1px;
}

.footer-info {
  margin-top:10px;
  list-style-type: none;
  
}

.footer-kontact {
  margin-top: 20px;
  list-style-type: none;
  text-align: end;
}

.footer-info img {
  width: 25px;
  align-items: center;
  margin: 5px 5px;
  float: left;
  text-align: center;
}

.col a {
  
  text-decoration: none;
  color: #fff;
}






